body{
    user-select: none;
}

.gameSc {
  z-index: 1;
  width: 500px;
  height: 500px;    
}

.gameSc .game-partSc {
  margin-top: 120px;
  min-height: 50vh;
  height: 100%;
  text-align: center;
  width: 90%;
  max-width: 800px;  
}

.gameSc header {
  margin: 1rem 1rem 10rem;
  display: flex;
  justify-content: space-between;
}



header i {
  color: #ffb522;
}


.higher-scoreSc  {
  height: 50px;
  width: 200px;
 font-size: 25px;
 margin-left: 270px;
}
.your-scoreSc {
  height: 50px;
  width: 200px;
 font-size: 25px;
}
.input-boxSc {
  margin-bottom: 8rem;
  
}

.input-boxSc input {
  text-align: start;
  height: 100px;
  width: 1000px;
  appearance: none;
  border-radius: 4px;
  border: none;
  outline: none;
  background: #fff;
  font-size: 25px;
  margin-left: -50%;
}

.input-boxSc input.disabled {
  background: #ccc;
}

.input-boxSc input:focus {
  outline: none;
}


.time-bar-divSc {
  height: 4px;
  background: #fff;
  border-radius: 3px;
  width: 200px;
  margin: auto;
  overflow: hidden;
}

.time-bar-divSc span {
  display: block;
  height: 100%;
  width: 100%;
  background: #ffb522;

}

.time-divSc  {
  text-align: center;
}

.time-divSc p {
  margin-top: 2rem;
  font-size: 1.7rem;
  font-weight: 600;

}



.word-divSc p {
  position: relative;
  margin: 2 1.5px;
  font-size: 20px;
  color:#001487;

}